<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" [routerLink]="['/folder/Home']"></ion-icon>
    <ion-title style="text-align: center;">Earing & Incentives</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-card class="card">
    <ion-row>
      <ion-col>
    <h6 style="font-weight: 700;color: black;">This Week</h6>
    <ion-icon name="logo-usd" size="small"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-grid>

  <ion-card class="card">
    <h6  style="font-weight: 700;color: black;">PREVIOUS WEEKS</h6>
    <ion-card class="card">
      <ion-row>
        <ion-col>
      <h6 style="font-weight: 700;color: black;">Last Week</h6>
      <ion-icon name="logo-usd" size="small"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="card">
      <ion-row>
        <ion-col>
      <h6 style="font-weight: 700;color: black;">Week 3</h6>
      <ion-icon name="logo-usd" size="small"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="card">
      <ion-row>
        <ion-col>
      <h6 style="font-weight: 700;color: black;">Week 4</h6>
      <ion-icon name="logo-usd" size="small"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-card>
</ion-content>
