<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-icon name="map" size ="large" style="padding-left:150px;"></ion-icon>
        <ion-icon name="notifications" size="large" style="padding: 20px;"></ion-icon>
        <ion-icon name="help" size="large" style="padding-left: 10px ;"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card style="height: 20%;">
          <h6 style="text-align: center;font-weight: 400;color: black;">Complete more task & earn more</h6>
        <ion-button shape="round" style="padding-left: 80px;">START DUTY</ion-button>
      </ion-card>

     
      <ion-card>
        <h6 style="font-weight: 700;color: #000;">QUICK LINKS</h6>
      <ion-row class="row">
        <ion-col class="column">
         <ion-card class="card">
             <ion-grid>
            <ion-row >
            <ion-icon name="wallet" size="large"></ion-icon>
            </ion-row>
            <ion-row >
            <ion-icon name="logo-usd" size="small"></ion-icon>
            </ion-row>
            <ion-row >
            <h6 style="font-size: 14px;margin-top: 2px;">Today's earnings</h6>
            <!-- <ion-icon name="arrow-forward" style="padding-left: 10px;"></ion-icon> -->
            </ion-row>
             </ion-grid>
         </ion-card>
        </ion-col>
        <ion-col class="column">
          <ion-card class="card">
            <ion-grid>
              <ion-row >
              <ion-icon name="wallet" size="large"></ion-icon>
              </ion-row>
              <ion-row >
              <ion-icon name="logo-usd" size="small"></ion-icon>
              </ion-row>
              <ion-row >
              <h6 style="font-size: 14px;margin-top: 2px;">Week's earnings</h6>
              <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
              </ion-row>
               </ion-grid>

          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="row">
        <ion-col class="column">
         <ion-card class="card">
          <ion-grid>
            <ion-row >
            <ion-icon name="wallet" size="large"></ion-icon>
            </ion-row>
            <ion-row >
            <ion-icon name="logo-usd" size="small"></ion-icon>
            </ion-row>
            <ion-row >
            <h6 style="font-size: 14px;margin-top: 2px;">Floating Cash</h6>
            <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
            </ion-row>
             </ion-grid>
         </ion-card>
        </ion-col>
      
        <ion-col class="column">
          <ion-card class="card">
            <ion-grid>
              <ion-row >
              <ion-icon name="alarm" size="large"></ion-icon>
              </ion-row>
              <ion-row >
              <ion-icon name="logo-usd" size="small"></ion-icon>
              </ion-row>
              <ion-row >
              <h6 style="font-size: 14px;margin-top: 2px;">Login duration</h6>
              <!-- <ion-icon name=""></ion-icon> -->
              </ion-row>
               </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-content>