<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" [routerLink]="['/folder/Home']"></ion-icon>
    <ion-title style="text-align: center;">Weekly Login Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc" style="margin-top: 2px;color:#000"></ion-datetime>

  <ion-card class="card">
    <ion-row>
      <ion-datetime value="2019-10-02T15:43:40.394Z" display-timezone="utc" style="margin-top: 2px;color:#000"></ion-datetime>
    <h6 style="font-weight: 800;color: #000;padding-left: 150px;">0 m</h6>
    </ion-row>
  </ion-card >
  <ion-card class="card">
    <ion-row>
      <ion-datetime value="2019-10-03T15:43:40.394Z" display-timezone="utc" style="margin-top: 2px;color:#000"></ion-datetime>
    <h6 style="font-weight: 800;color: #000;padding-left: 150px;">4h 25m</h6>
    </ion-row>
  </ion-card>
  <ion-card class="card">
    <ion-row>
      <ion-datetime value="2019-10-04T15:43:40.394Z" display-timezone="utc" style="margin-top: 2px;color:#000"></ion-datetime>
    <h6 style="font-weight: 800;color: #000;padding-left: 150px;">3h 45m</h6>
    </ion-row>
  </ion-card>
  <ion-card class="card">
  <ion-row>
    <ion-datetime value="2019-10-05T15:43:40.394Z" display-timezone="utc" style="margin-top: 2px;color:#000"></ion-datetime>
  <h6 style="font-weight: 800;color: #000;padding-left: 150px;">3h 45m</h6>
  </ion-row>
</ion-card>
</ion-content>
