<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" [routerLink]="['/folder/Home']"></ion-icon>
    <ion-title style="text-align: center;font-weight: 800;"> Legal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <h6 style="padding-left: 15px;font-size: 16px;color: #000;font-weight: 800;">General Terms and Conditions</h6>
    <p></p>
  </ion-card>
  <ion-card class="card">
    <h6 style="padding-left: 15px;font-size: 16px;color: #000;font-weight: 800;">Payouts</h6>
    <p></p>
  </ion-card>
  <ion-card class="card">
    <h6 style="padding-left: 15px;font-size: 16px;color: #000;font-weight: 800;">Code of Conduct</h6>
    <p></p>
  </ion-card>

</ion-content>
