<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" [routerLink]="['/folder/Home']"></ion-icon>
    <ion-title style="text-align: center;font-weight: 800s;">Floating Cash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-row>
      <h6 style="padding-left: 15px;color: #000;">Current Balance</h6>
      <ion-icon name="logo-usd" size="small" style="padding-left: 130px;padding-top: 15px;"></ion-icon>
    </ion-row>
    <ion-row>
      <h6 style="padding-left: 15px;color: #000;margin-top: 2px">Limit: <ion-icon name="logo-usd" size="x-small"></ion-icon></h6>
    </ion-row>
  </ion-card >

  <h6 style="padding-left: 15px;color: #000;">DEPOSIT CASH</h6>
    <ion-card  class="card">
      <ion-row>
        <ion-img style="width: 70px; height: 70px;padding-left: 15px;" src="atm-bank-cash-machine-icon-flat-style-vector-15008157.jpg"></ion-img>
        <h6 style="padding-left: 15px;color: #000;">ICIC Cash Deposit machine</h6>
      </ion-row>
    </ion-card>

    <ion-card  class="card">
      <ion-row>
        <ion-img style="width: 70px; height: 70px;padding-left: 15px;" src="atm-bank-cash-machine-icon-flat-style-vector-15008157.jpg"></ion-img>
        <h6 style="padding-left: 15px;color: #000;">Novopay Deposit Center</h6>
      </ion-row>
    </ion-card>
</ion-content>
